---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer" style="margin: 0 0 0 0;">
      <footer>
        <!-- <div style="display: none;">
        <a href="https://info.flagcounter.com/eroV"><img src="https://s01.flagcounter.com/count2/eroV/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_0/pageviews_0/flags_0/percent_0/" alt="Flag Counter" border="0"></a>
      </div> -->
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
      <!-- <div>
  <a href="https://info.flagcounter.com/f8uN"><img src="https://s01.flagcounter.com/map/f8uN/size_m/txt_000000/border_CCCCCC/pageviews_1/viewers_0/flags_0/" alt="Flag Counter" border="0"></a>
</div> -->
    </div>

    {% include scripts.html %}

  </body>
</html>
